.chatTextarea:focus {
  outline: none;
}

.chatTextarea::placeholder {
  color: #8E8E95;
  font-weight: 500;
  font-family: 'Pretendard';
}

.chatTextarea {
  resize: none;
  border: none;
  height: 100%;
  font-weight: 500;
  font-family: 'Pretendard';
  width: 100%;
}